<!--<style>
    html, body { height: 100% }
    iframe{
            width:100%;
            height:100%;
          } 
</style>-->
<ion-view>
    <!--<iframe src="http://branboxadmin.elasticbeanstalk.com/branboxGalleryView/" style="width:100%;height:600px"></iframe>-->
   <!-- <div style="overflow:auto;-webkit-overflow-scrolling:touch">
  <iframe src="http://branboxadmin.elasticbeanstalk.com/branboxGalleryView/" style="width:100%;height:100%">
    
</div>-->
    <!--<iframe src="http://branboxadmin.elasticbeanstalk.com/branboxGalleryView/" style="width: 100%; max-height: 100% "></iframe>-->
    
    
 <!--   <div style="overflow: auto!important; -webkit-overflow-scrolling: touch!important;"> 
        <!--<iframe src="branboxGalleryView/index.html" style="width: 100%; height: 600px; display: block; overflow: scroll; -webkit-overflow-scrolling: touch;" ></iframe>-->
	<!--	<iframe src="photo/index.html" style="width: 100%;height: 100%;position: fixed;padding-bottom:70px !important" ></iframe>
    </div> -->
    
	<!---<object type="text/html" data="photo/index.html" style="width: 100%;height: 100%;position: fixed;padding-bottom:70px !important"> -->
<link href="site-assets/site.css" rel="stylesheet" />
<link href="dist/photoswipe.css" rel="stylesheet" />
<link href="dist/default-skin/default-skin.css" rel="stylesheet" />	
	<div style="margin-top:15px">
       
            
     <div class="section section--head">
		<div class="row">
			<h3>Our Chef</h3>
	      <div class="demo-gallery">
		   <a href="img/Zoom/chief/chief1.jpg" data-size="1600x1600" data-med="img/Zoom/chief/chief1.jpg" data-med-size="1024x1024" data-author="Daniel Boulud">
	          <img src="img/Zoom/chief/chief1.jpg" alt="" />
	          <figure>French chef and restaurateur</figure>
	        </a>
	       <a href="img/Zoom/chief/chief2.JPG" data-size="1600x1600" data-med="img/Zoom/chief/chief2.JPG" data-med-size="1024x1024" data-author="Thomas Keller">
	          <img src="img/Zoom/chief/chief2.JPG" alt="" />
	          <figure>American chef and Cook with Sandwich</figure>
	        </a>
			
			<a href="img/Zoom/chief/chief3.jpg" data-size="1600x1600" data-med="img/Zoom/chief/chief3.jpg" data-med-size="1024x1024" data-author="Jamie Oliver" >
	          <img src="img/Zoom/chief/chief3.jpg" alt="" />
	          <figure>British celebrity chef and Cook with Jamie recipes</figure>
	        </a>
			
			<a href="img/Zoom/chief/chief4.jpg" data-size="1600x1600" data-med="img/Zoom/chief/chief4.jpg" data-med-size="1024x1024" data-author="Gordon Ramsay" >
	          <img src="img/Zoom/chief/chief4.jpg" alt="" />
	          <figure>British chef and restaurateur</figure>
	        </a>
	      </div>
	    </div>
		<div class="row">
			<h3>Party Hall</h3>
	      <div class="demo-gallery">
	       <a href="img/Zoom/Party Hall/hall1.jpg" data-size="1600x1600" data-med="img/Zoom/Party Hall/hall1.jpg" data-med-size="1024x1024" data-author="Exclusive Hall">
	          <img src="img/Zoom/Party Hall/hall1.jpg" alt="" />
	          <figure>Exclusive Party Hall and Dinner facility</figure>
	        </a>
			
			<a href="img/Zoom/Party Hall/hall2.jpg" data-size="1600x1600" data-med="img/Zoom/Party Hall/hall2.jpg" data-med-size="1024x1024" data-author="Classic Hall" >
	          <img src="img/Zoom/Party Hall/hall2.jpg" alt="" />
	          <figure>Classic Party Hall and Dinner facility</figure>
	        </a>
	      </div>
	    </div>
		<div class="row">
			<h3>Kitchen Area</h3>
	      <div class="demo-gallery">
	       <a href="img/Zoom/kitchen/kitchen1.jpg" data-size="1600x1600" data-med="img/Zoom/kitchen/kitchen1.jpg" data-med-size="1024x1024" data-author="Restaurant Kitchen" >
	          <img src="img/Zoom/kitchen/kitchen1.jpg" alt="" />
	          <figure>Restaurant Kitchen with Bar</figure>
	        </a>
			
			<a href="img/Zoom/kitchen/kitchen2.jpg" data-size="1600x1600" data-med="img/Zoom/kitchen/kitchen2.jpg" data-med-size="1024x1024" data-author="Luxury Kitchens" >
	          <img src="img/Zoom/kitchen/kitchen2.jpg" alt="" />
	          <figure>Luxury kitchen designs</figure>
	        </a>
			<a href="img/Zoom/kitchen/kitchen3.jpg" data-size="1600x1600" data-med="img/Zoom/kitchen/kitchen3.jpg" data-med-size="1024x1024" data-author="Kitchens With Islands" >
	          <img src="img/Zoom/kitchen/kitchen3.jpg" alt="" />
	          <figure>Branbox Kitchen Area</figure>
	        </a>
			<a href="img/Zoom/kitchen/kitchen4.jpg" data-size="1600x1600" data-med="img/Zoom/kitchen/kitchen4.jpg" data-med-size="1024x1024" data-author="Smart Kitchen" >
	          <img src="img/Zoom/kitchen/kitchen4.jpg" alt="" />
	          <figure>Smart Kitchen with Buffway</figure>
	        </a>
			<a href="img/Zoom/kitchen/kitchen5.jpg" data-size="1600x1600" data-med="img/Zoom/kitchen/kitchen5.jpg" data-med-size="1024x1024" data-author="Kitchen Area" >
	          <img src="img/Zoom/kitchen/kitchen5.jpg" alt="" />
	          <figure>Branbox Kitchen Area</figure>
	        </a>
	      </div>
	    </div>
		<div class="row">
			<h3>Special foods</h3>
	      <div class="demo-gallery">
	       <a href="img/Zoom/Special foods/food1.jpg" data-size="1600x1600" data-med="img/Zoom/Special foods/food1.jpg" data-med-size="1024x1024" data-author="Sandwich" >
	          <img src="img/Zoom/Special foods/food1.jpg" alt="" />
	          <figure>Chicken French Bread Sandwich </figure>
	        </a>
			
			<a href="img/Zoom/Special foods/food2.jpg" data-size="1600x1600" data-med="img/Zoom/Special foods/food2.jpg" data-med-size="1024x1024" data-author="Chicken Biryani" >
	          <img src="img/Zoom/Special foods/food2.jpg" alt="" />
	          <figure>This is one of the best hyderabadi chicken biryani</figure>
	        </a>
			<a href="img/Zoom/Special foods/food3.JPG" data-size="1600x1600" data-med="img/Zoom/Special foods/food3.JPG" data-med-size="1024x1024" data-author="Kabobs" >
	          <img src="img/Zoom/Special foods/food3.JPG" alt="" />
	          <figure>Shrimp & Veggie Kabobs</figure>
	        </a>
	      </div>
	    </div>
		<div class="row">
			<h3>Video</h3>
			<video style="height: 100%; width: 100%" poster="img/profile-menu.png" controls="controls" preload="auto" data-setup="{}">
				<source type="video/mp4" src="img/Zoom/videos/big_buck_bunny.mp4" /> 
			</video>
		</div>
	</div>
            
        
    </div>
	

    <div id="gallery" class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="pswp__bg"></div>

        <div class="pswp__scroll-wrap">

          <div class="pswp__container">
			<div class="pswp__item"></div>
			<div class="pswp__item"></div>
			<div class="pswp__item"></div>
          </div>

          <div class="pswp__ui pswp__ui--hidden">

            <div class="pswp__top-bar">

				<div class="pswp__counter"></div>

				<button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
				<!--<button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>-->

				<button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

				<div class="pswp__preloader">
					<div class="pswp__preloader__icn">
					  <div class="pswp__preloader__cut">
					    <div class="pswp__preloader__donut"></div>
					  </div>
					</div>
				</div>
            </div>


			<!-- Previous and Next Start -->
            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>
            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>
			<!-- Previous and Next End -->
            <div class="pswp__caption">
              <div class="pswp__caption__center">
              </div>
            </div>
          </div>

        </div>
    </div>
    
</ion-view>
