<!--<style>
    html, body { height: 100% }
    iframe{
            width:100%;
            height:100%;
          } 
</style>-->
<ion-view>
    <!--<iframe src="http://branboxadmin.elasticbeanstalk.com/branboxGalleryView/" style="width:100%;height:600px"></iframe>-->
   <!-- <div style="overflow:auto;-webkit-overflow-scrolling:touch">
  <iframe src="http://branboxadmin.elasticbeanstalk.com/branboxGalleryView/" style="width:100%;height:100%">
    
</div>-->
    <!--<iframe src="http://branboxadmin.elasticbeanstalk.com/branboxGalleryView/" style="width: 100%; max-height: 100% "></iframe>-->
    
    
    <div style="overflow: auto!important; -webkit-overflow-scrolling: touch!important;"> 
        <iframe src="branboxGalleryView/index.html" style="width: 100%; height: 600px; display: block; overflow: scroll; -webkit-overflow-scrolling: touch;" ></iframe>
    </div>
    
    
</ion-view>
